{% extends "layout.html" %} 

{% block title %} Assessment Detail {% endblock %}

{%load static%} 
{% block styles %}
    <link rel="stylesheet" href="{% static 'assessment-detail.css' %}">
{% endblock %}

{%block content %}
<div class="assessment-detail-container">
<div class="assessment-title">
<h1>Assessment detail</h1>
</div>

<div class="assessment-details">
    <div class="assessment-name">
    <p>Name: {{assessment.name}}</p>
    </div>
    <div class="assessment-course">
    <p>Course: {{assessment.course}}</p>
    </div>
    <div class="assessment-question_count">
    <p>Question Number: {{question_count}}</p>
    </div>
    <div class="question-list-title">
    <p>Questions:</p>
    </div>
    <div class="question-list">
    <ul>
        {% for question in questions %}
        <div class="question-list-object">
        <li>
            <div class="question-details">
            <a href="/question-detail/{{question.id}}">
                Prompt: {{question.prompt}}, Difficulty: {{question.difficulty}}
            </a>
            </div>
        </li>
    </div>
        {% endfor %}
    </ul>
</div>

    <div class="export-assessment-form">
    <form action="{% url 'export_assessment' assessment.pk %}" method="post">
        {% csrf_token %}
        <div class="select-format">
        <select name="format">
            <option value="pdf">PDF</option>
            <option value="docx">DOCX</option>
        </select>
    </div>
        <div class="export-button">
        <button type="submit">Export Assessment</button>
        </div>
    </form>
</div>
</div>
</div>
{% endblock %}